   <style> 
        .header, .footer {
          position: fixed;
          left: 0;
          width: 100%;
          height: 15%;
          background-color: LightPink;
          color: black;
          display: flex;
          align-items: center;
          justify-content: space-between; /* spreads left, center, right */
          box-sizing: border-box;
        }
        
        .header {
          top: 0;
          padding: 0 15%;
        }
        
        .footer {
          bottom: 0;
          padding: 0 2%;
        }
        
        .body {
          position: fixed;
          top: 15%;
          left: 0;
          width: 100%;
          height: 70%;
          /*background-image: url(smoke.jpg);
          background-repeat: no-repeat; */
          color: black;
          padding: 2rem;
          overflow: auto;
        }
        .title {
          position: absolute;
          left: 50%;
          margin: 0;
        }
        .footer_date {
          text-align: right;
        }
